.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #353535;
}

.content {
  width: 80%;
  margin: 0 auto;
  color: white;
  max-width: 1000px;
}

@media only screen and (max-width: 875px) { 
  .content {
    width: 100%;
    padding: 0 10px;
  }
}